.framelix-form-field-editor {

  textarea {
    height: 10px;
    opacity: 0.1;
  }

  .tox-tinymce {
    border-radius: var(--border-radius);
    border: var(--input-border);
    box-shadow: var(--input-box-shadow);

    &:focus-within {
      border: var(--input-border-focus);
      box-shadow: var(--input-box-shadow-focus);
    }
  }

}

.framelix-form-field-editor-pagebreak {

}
