.framelix-form-field-twofactorcode {

  .framelix-form-field-twofactorcode-label {
    margin-bottom: 5px;
  }

  .framelix-form-field-twofactorcode-backup {
    margin-top: 15px;
    font-size: 90%;
  }
}