.framelix-form-field-toggle {
  .framelix-form-field-input {
    cursor: pointer;
    user-select: none;
    width: 68px;
    padding: 3px;
    display: inline-flex;
    color: white;

    input[type='checkbox'] {
      flex: 1 1 auto;
      margin: 0;
      height: auto;
      width: auto;
    }

    &[data-style='toggle'] {
      input:not(:checked) {
        margin-right: calc(50% + 3px);
      }

      input:checked {
        margin-left: calc(50% + 3px);
      }
    }

    &[data-style='checkbox'] {
      width: 34px;
    }
  }
}

@media print {
  .framelix-form-field-toggle .framelix-form-field-input,
  .framelix-form-field-toggle .framelix-form-field-input input {
    color: black !important;
    width: 36px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    background: white !important;

    &:not(:checked) {
      color: transparent !important;
    }
  }
}