.framelix-table {
  > table {
    padding: 0;
    width: 100%;
    margin: 0 0 10px;
    border-spacing: 1px;
    // Hack, to make 100% div height in cells possible, tested for edge old/new, chrome, firefox
    height: 1px;
    border-radius: var(--border-radius);
    border-collapse: collapse;

    > tbody,
    > thead,
    > tfoot {
      > tr {
        > td {

          &[data-flag-smallwidth='1'] {
            white-space: nowrap;
            width: 1%;
          }

          &[data-flag-smallfont='1'] {
            font-size: 80%;
          }

          &[data-flag-icon='1'] {
            white-space: nowrap;
            width: 1%;
            min-width: 30px;
            vertical-align: middle;
            padding: 0;
            height: 100%;

            html[data-touch='1'] & {
              min-height: 30px;
            }

            framelix-button {
              height: 100%;
              border-radius: 0;
              font-size: 16px;

              html[data-touch='1'] & {
                font-size: 24px;
              }
            }
          }
        }

        > td,
        > th {
          border: 1px solid var(--color-border-subtle);
          padding: 8px;
          height: var(--framelix-form-field-min-height);
          vertical-align: middle;
          box-sizing: border-box;
        }

        > [data-column-name="_checkbox"] {
          text-align: center;
          padding: 0;

          label {
            padding: 0;
            width: 100%;
            display: block;
            cursor: pointer;
          }
        }

        &.framelix-table-row-highlight {
          outline: 2px solid var(--color-primary-text);
        }

        &:nth-child(even) {
          background-color: var(--color-table-zebra);
        }

        &[data-url] > td:not([data-flag-ignoreurl='1']) {
          cursor: pointer;
        }
      }
    }

    > thead {
      position: sticky;
      top: 0;
      z-index: 1;

      th {
        text-align: left;
        margin: 0;
        padding: 8px;
        vertical-align: bottom;
        user-select: none;
        background: var(--color-page-bg-stencil);

        &:not([data-flag-ignoresort]) {
          cursor: pointer;
        }
      }
    }

    > tbody > tr:hover {
      outline: 1px solid var(--color-border-strong);
    }

    > tfoot td {
      font-weight: bold;
      border-top: 3px solid var(--color-border-subtle);
      background: var(--color-page-bg-stencil);
    }
  }

  &.framelix-table-sortable > table > thead th {
    &:not([data-flag-ignoresort]):hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .framelix-table-row-deleted {
    text-decoration: line-through;
    pointer-events: none;
    user-select: none;
  }

  .framelix-table-row-deleted {
    text-decoration: line-through;
    opacity: 0.2;
  }

  .framelix-table-cell-header {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .framelix-table-row-sort-info {

    th {
      min-height: 20px;
      white-space: nowrap;
      vertical-align: middle;
      font-size: 10px !important;
      background: var(--color-page-bg-stencil-weak);
      border: 0;
    }
  }

  .framelix-table-header-sort-info-number {
    background-color: hsla(var(--color-primary-hue), 50%, 50%, 0.5);
    border-radius: var(--border-radius);
    display: inline-block;
    padding: 0 5px;
    color: white;
  }

  .framelix-table-header-sort-info-text {
    display: inline-block;
    margin-left: 5px;
  }
}