.framelix-popup {
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  z-index: 61;
  background: var(--color-popup-dark-bg);
  color: var(--color-popup-dark-text);
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 10px;
  --arrow-color: var(--color-popup-dark-bg);
  --arrow-size: 7px;

  .framelix-popup-inner {
    overflow: auto;
    max-width: calc(100vw - 50px);
    max-height: calc(100vh - 50px);
  }

  &[data-theme='light'] {
    --arrow-color: var(--color-page-bg-stencil);
    background: var(--color-page-bg-stencil);
    color: var(--color-default-text);
  }

  &[data-theme='primary'] {
    --arrow-color: var(--color-popup-primary-bg);
    background: var(--color-popup-primary-bg);
    color: var(--color-popup-primary-text);
  }

  &[data-theme='success'] {
    --arrow-color: var(--color-popup-success-bg);
    background: var(--color-popup-success-bg);
    color: var(--color-popup-success-text);
  }

  &[data-theme='warning'] {
    --arrow-color: var(--color-popup-warning-bg);
    background: var(--color-popup-warning-bg);
    color: var(--color-popup-warning-text);
  }

  &[data-theme='error'] {
    --arrow-color: var(--color-popup-error-bg);
    background: var(--color-popup-error-bg);
    color: var(--color-popup-error-text);
  }

  &[data-theme='trans'] {
    box-shadow: none;
    background: transparent;
    color: var(--color-page-text);
    --arrow-color: transparent;
  }

  > [data-popper-arrow] {
    opacity: 0;
  }

  &[data-show-arrow='1'] > [data-popper-arrow] {
    opacity: 1;
    transition: 0.2s;
  }

  &[data-popper-placement^='top'] > [data-popper-arrow] {
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-top: var(--arrow-size) solid var(--arrow-color);
    bottom: calc(var(--arrow-size) * -1);
  }

  &[data-popper-placement^='bottom'] > [data-popper-arrow] {
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-bottom: var(--arrow-size) solid var(--arrow-color);
    top: calc(var(--arrow-size) * -1);
  }

  &[data-popper-placement^='right'] > [data-popper-arrow] {
    border-top: var(--arrow-size) solid transparent;
    border-bottom: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid var(--arrow-color);
    left: calc(var(--arrow-size) * -1);
  }

  &[data-popper-placement^='left'] > [data-popper-arrow] {
    border-top: var(--arrow-size) solid transparent;
    border-bottom: var(--arrow-size) solid transparent;
    border-left: var(--arrow-size) solid var(--arrow-color);
    right: calc(var(--arrow-size) * -1);
  }
}