:root {
  --is-dark-mode: 0;
  --is-light-mode: 1;

  --color-primary-hue: 204;
  --color-success-hue: 160;
  --color-warning-hue: 28;
  --color-error-hue: 353;

  --color-contrast-modifier: 0%;
  --color-default-lightness-bg: 70%;
  --color-default-lightness-text: 15%;
  --color-default-contrast-bg: calc(var(--color-contrast-modifier) + 70%);
  --color-default-contrast-text: calc(var(--color-contrast-modifier) + 70%);

  --color-default-bg: white;
  --color-primary-bg: hsl(var(--color-primary-hue), var(--color-default-contrast-bg), var(--color-default-lightness-bg));
  --color-success-bg: hsl(var(--color-success-hue), var(--color-default-contrast-bg), var(--color-default-lightness-bg));
  --color-warning-bg: hsl(var(--color-warning-hue), var(--color-default-contrast-bg), var(--color-default-lightness-bg));
  --color-error-bg: hsl(var(--color-error-hue), var(--color-default-contrast-bg), var(--color-default-lightness-bg));

  --color-default-text: #111;
  --color-primary-text: hsl(var(--color-primary-hue), var(--color-default-contrast-text), var(--color-default-lightness-text));
  --color-success-text: hsl(var(--color-success-hue), var(--color-default-contrast-text), var(--color-default-lightness-text));
  --color-warning-text: hsl(var(--color-warning-hue), var(--color-default-contrast-text), var(--color-default-lightness-text));
  --color-error-text: hsl(var(--color-error-hue), var(--color-default-contrast-text), var(--color-default-lightness-text));

  --color-border-strong: #222;
  --color-border-subtle: #aaa;

  --color-page-bg: var(--color-default-bg);
  --color-page-bg-stencil-weak: hsl(var(--color-primary-hue), 43%, 97%);
  --color-page-bg-stencil: hsl(var(--color-primary-hue), 31%, 94%);
  --color-page-bg-stencil-strong: hsl(var(--color-primary-hue), 31%, 90%);
  --color-page-bg-stencil-stronger: hsl(var(--color-primary-hue), 31%, 85%);
  --color-page-text: var(--color-default-text);

  --color-alert-default-bg: var(--color-page-bg-stencil);
  --color-alert-default-text: hsl(var(--color-primary-hue), 20%, 5%);
  --color-alert-success-bg: var(--color-success-bg);
  --color-alert-success-text: var(--color-success-text);
  --color-alert-warning-bg: var(--color-warning-bg);
  --color-alert-warning-text: var(--color-warning-text);
  --color-alert-error-bg: var(--color-error-bg);
  --color-alert-error-text: var(--color-error-text);
  --color-alert-primary-bg: var(--color-primary-bg);
  --color-alert-primary-text: var(--color-primary-text);

  --color-toast-default-bg: hsl(var(--color-primary-hue), 20%, 25%);
  --color-toast-default-text: white;
  --color-toast-success-bg: hsl(var(--color-success-hue), var(--color-default-contrast-bg), 40%);
  --color-toast-success-text: white;
  --color-toast-warning-bg: hsl(var(--color-warning-hue), var(--color-default-contrast-bg), 40%);
  --color-toast-warning-text: white;
  --color-toast-error-bg: hsl(var(--color-error-hue), var(--color-default-contrast-bg), 40%);
  --color-toast-error-text: white;
  --color-toast-primary-bg: hsl(var(--color-primary-hue), var(--color-default-contrast-bg), 40%);
  --color-toast-primary-text: white;

  --color-button-default-bg: #444;
  --color-button-default-text: white;
  --color-button-success-bg: hsl(var(--color-success-hue), var(--color-default-contrast-bg), 40%);
  --color-button-success-text: white;
  --color-button-warning-bg: hsl(var(--color-warning-hue), var(--color-default-contrast-bg), 40%);
  --color-button-warning-text: white;
  --color-button-error-bg: hsl(var(--color-error-hue), var(--color-default-contrast-bg), 40%);
  --color-button-error-text: white;
  --color-button-primary-bg: hsl(var(--color-primary-hue), var(--color-default-contrast-bg), 40%);
  --color-button-primary-text: white;

  --color-modal-default-bg: var(--color-page-bg);
  --color-modal-default-text: var(--color-page-text);
  --color-modal-success-bg: hsl(var(--color-success-hue), var(--color-default-contrast-bg), 90%);
  --color-modal-success-text: hsl(var(--color-success-hue), var(--color-default-contrast-text), 20%);
  --color-modal-warning-bg: hsl(var(--color-warning-hue), var(--color-default-contrast-bg), 90%);
  --color-modal-warning-text: hsl(var(--color-warning-hue), var(--color-default-contrast-text), 20%);
  --color-modal-error-bg: hsl(var(--color-error-hue), var(--color-default-contrast-bg), 90%);
  --color-modal-error-text: hsl(var(--color-error-hue), var(--color-default-contrast-text), 20%);
  --color-modal-primary-bg: hsl(var(--color-primary-hue), var(--color-default-contrast-bg), 90%);
  --color-modal-primary-text: hsl(var(--color-primary-hue), var(--color-default-contrast-text), 5%);

  --color-popup-default-bg: black;
  --color-popup-default-text: white;
  --color-popup-success-bg: hsl(var(--color-success-hue), var(--color-default-contrast-bg), 90%);
  --color-popup-success-text: hsl(var(--color-success-hue), var(--color-default-contrast-text), 20%);
  --color-popup-warning-bg: hsl(var(--color-warning-hue), var(--color-default-contrast-bg), 90%);
  --color-popup-warning-text: hsl(var(--color-warning-hue), var(--color-default-contrast-text), 20%);
  --color-popup-error-bg: hsl(var(--color-error-hue), var(--color-default-contrast-bg), 90%);
  --color-popup-error-text: hsl(var(--color-error-hue), var(--color-default-contrast-text), 20%);
  --color-popup-primary-bg: hsl(var(--color-primary-hue), var(--color-default-contrast-bg), 90%);
  --color-popup-primary-text: hsl(var(--color-primary-hue), var(--color-default-contrast-text), 5%);

  --color-input-background: white;
  --input-border: 1px solid #ddd;
  --color-input-text: var(--color-page-text);
  --color-input-checkbox-background: var(--color-input-background);
  --color-input-checkbox-checked: var(--color-button-primary-bg);

  --color-table-zebra: hsl(var(--color-primary-hue), 20%, 95%);

  --color-progressbar-1: #f1c40f;
  --color-progressbar-2: #2c3e50;

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }
}

@media not print {
  [data-color-scheme='dark'] {

    --is-dark-mode: 1;
    --is-light-mode: 0;

    --color-primary-hue: 204;
    --color-success-hue: 160;
    --color-warning-hue: 28;
    --color-error-hue: 353;

    --color-default-bg: hsl(0, 0%, 5%);
    --color-default-text: white;

    --color-default-lightness-bg: 20%;
    --color-default-lightness-text: 75%;

    --color-border-strong: hsl(0, 0%, 47%);
    --color-border-subtle: hsl(0, 0%, 27%);

    --color-page-bg-stencil-weak: hsl(0, 0%, 8%);
    --color-page-bg-stencil: hsl(0, 0%, 15%);
    --color-page-bg-stencil-strong: hsl(0, 0%, 21%);
    --color-page-bg-stencil-stronger: hsl(0, 0%, 25%);

    --color-alert-default-bg: var(--color-page-bg-stencil);
    --color-alert-default-text: white;
    --color-alert-success-bg: hsl(var(--color-success-hue), var(--color-default-contrast-bg), 20%);
    --color-alert-success-text: white;
    --color-alert-warning-bg: hsl(var(--color-warning-hue), var(--color-default-contrast-bg), 20%);
    --color-alert-warning-text: white;
    --color-alert-error-bg: hsl(var(--color-error-hue), var(--color-default-contrast-bg), 20%);
    --color-alert-error-text: white;
    --color-alert-primary-bg: hsl(var(--color-primary-hue), var(--color-default-contrast-bg), 20%);
    --color-alert-primary-text: white;

    --color-toast-default-bg: hsl(0, 0%, 17%);
    --color-toast-default-text: white;
    --color-toast-success-bg: hsl(var(--color-success-hue), var(--color-default-contrast-bg), 20%);
    --color-toast-success-text: white;
    --color-toast-warning-bg: hsl(var(--color-warning-hue), var(--color-default-contrast-bg), 20%);
    --color-toast-warning-text: white;
    --color-toast-error-bg: hsl(var(--color-error-hue), var(--color-default-contrast-bg), 20%);
    --color-toast-error-text: white;
    --color-toast-primary-bg: #333;
    --color-toast-primary-text: white;

    --color-button-default-bg: hsl(0, 0%, 17%);
    --color-button-default-text: white;
    --color-button-success-bg: hsl(var(--color-success-hue), var(--color-default-contrast-bg), 30%);
    --color-button-success-text: white;
    --color-button-warning-bg: hsl(var(--color-warning-hue), var(--color-default-contrast-bg), 30%);
    --color-button-warning-text: white;
    --color-button-error-bg: hsl(var(--color-error-hue), var(--color-default-contrast-bg), 30%);
    --color-button-error-text: white;
    --color-button-primary-bg: hsl(var(--color-primary-hue), var(--color-default-contrast-bg), 20%);
    --color-button-primary-text: white;

    --color-modal-success-bg: hsl(var(--color-success-hue), var(--color-default-contrast-bg), 20%);
    --color-modal-success-text: hsl(var(--color-success-hue), var(--color-default-contrast-text), 80%);
    --color-modal-warning-bg: hsl(var(--color-warning-hue), var(--color-default-contrast-bg), 20%);
    --color-modal-warning-text: hsl(var(--color-warning-hue), var(--color-default-contrast-text), 80%);
    --color-modal-error-bg: hsl(var(--color-error-hue), var(--color-default-contrast-bg), 20%);
    --color-modal-error-text: hsl(var(--color-error-hue), var(--color-default-contrast-text), 80%);
    --color-modal-primary-bg: var(--color-page-bg-stencil-weak);
    --color-modal-primary-text: white;

    --color-popup-success-bg: hsl(var(--color-success-hue), var(--color-default-contrast-bg), 20%);
    --color-popup-success-text: hsl(var(--color-success-hue), var(--color-default-contrast-text), 80%);
    --color-popup-warning-bg: hsl(var(--color-warning-hue), var(--color-default-contrast-bg), 20%);
    --color-popup-warning-text: hsl(var(--color-warning-hue), var(--color-default-contrast-text), 80%);
    --color-popup-error-bg: hsl(var(--color-error-hue), var(--color-default-contrast-bg), 20%);
    --color-popup-error-text: hsl(var(--color-error-hue), var(--color-default-contrast-text), 80%);
    --color-popup-primary-bg: var(--color-page-bg-stencil-weak);
    --color-popup-primary-text: white;

    --color-input-background: hsl(0, 0%, 17%);
    --color-input-text: white;
    --input-border: none;

    --color-table-zebra: rgba(255, 255, 255, 0.05)
  }
}

[data-color-contrast='less'] {
  --color-contrast-modifier: -40%;
}

[data-color-contrast='more'] {
  --color-contrast-modifier: 30%;
}