.framelix-responsive-grid-2 {
  display: flex;
  gap: 5px;

  > * {
    flex-basis: 50%;
  }
}

.framelix-responsive-grid-3 {
  display: flex;
  gap: 5px;

  > * {
    flex-basis: 33%;

    &:last-child {
      flex-basis: 34%;
    }
  }

}

html[data-screen-size='s'] {
  .framelix-responsive-grid-2,
  .framelix-responsive-grid-3 {
    flex-wrap: wrap;
    > * {
      flex-basis: 100%;
    }
  }
}